#map {
  height: 400px;
  width: 400px;
}


#numCommentForm {
    width: 50%;
}

.comment_name {
    font-weight: bold;
}

.comment_date {
    font-style: italic;
}

body {
    font-family: 'Dosis', sans-serif;
}

.footer a {
    padding-right: 10px;
}

a {
    color: #917bab;
}

a:hover {
    color: #d0b0f7;
    text-decoration: none;
}

#header {
    margin-top: 60px;
    font-family: 'Cutive Mono', monospace;
}

#totoro {
    width: 100%;
}

.footer {
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

.row {
    margin-bottom: 10px;
}
